a:hover{
  background-color: cyan;
}

.header li{
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.username{
  text-transform: capitalize;
  text-decoration: underline;
  font-weight: bold;
}
